<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <link rel="icon" href="images/favicon.png" type="image/gif" />
    <meta name="keywords" content="books, reading, library, online books" />
    <meta name="description" content="Readify - Your Online Reading Platform" />
    <meta name="author" content="Readify" />

    <title>Readify</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <noscript>
      <div class="alert alert-warning" role="alert">
        <div class="container">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Please enable JavaScript to experience Readify's full functionality.
          Without JavaScript, some features may be unavailable.
        </div>
      </div>
    </noscript>

    <div class="hero_area">
      <!-- header section strats -->
      <%- include('partials/header') %>

      <!-- slider section -->
      <%- include('partials/slider') %>
    </div>

    <!-- category section -->
    <%- include('partials/categories') %>

    <!-- about section -->
    <%- include('partials/about') %>

    <!-- client section -->
    <%- include('partials/client') %>

    <!-- blog section -->
    <%- include('partials/blog') %>

    <!-- contact section -->
    <%- include('partials/contact') %>

    <!-- info section -->
    <%- include('partials/info') %>

    <!-- footer section -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/toggleMenu.js"></script>
    <script src="/js/contactForm.js"></script>
  </body>
</html>
